/** MAIN BODY*/

main {
    min-height: 100vh;
    padding-block: 20px;
    background-color: var(--primary-bg);
    /* background-color: darkgreen; */
}
h1 {
    text-align: center;
}
h1:first-letter {
    text-transform: uppercase;
}

/** FORM */

form {
    display: flex;
    flex-direction: column;
}

.field {
    margin: 0 auto;
    padding: 20px;

    /* min-width: 400px; */
    max-width: 500px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

input, textarea {
    min-height: 30px;
    padding: 10px;
    border-radius: 5px;
}
::placeholder {
    color: #000;
}

/** BUTTON */

.submit {
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    min-height: 50px;
    position: relative;

}

button.btn {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    background-color: var(--secondary-bg);
    color: var(--primary-txt);
    border-radius: 5px;
    text-transform: capitalize;
}

