main {
    /* background-color: darkgreen; */
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-items: center; */
}

.hero {
    /* max-width: 800px; */
    min-height: 500px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    color: var(--primary-txt);
    display: flex;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    min-height: 250px;
    width: 350px;
    margin-left: 80px;
}

.btn  {
    padding: 20px;
    width: 8rem;
    text-align: center;
    /*background-color: var(--third-bg);
    */
    background-color: var(--danger-bg);
    color: var(--primary-txt);
    text-transform: capitalize;
    border-radius: 5px ;
  
}

.search {
    min-height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
    gap: 50px;
    background-color: var(--primary-bg);
}
h2 {
    text-align: center;

}

 h2, h3 {
    text-transform: capitalize;
 }

 .searchBar {
    margin: 0 auto;
 }
 .searchBar input {
    padding: 19px;
    min-width: 250px;
    max-width: 450px;
    border-radius: 5px;
    border: none;
    margin-right: -8px;
}

.cards {
    min-height: 70vh;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap : 20px;
    padding-top: 20px;
    border-top: 3px solid var(--danger-bg);
    max-width: 250px;
}