main {
    /* background-color: darkgreen; */
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-items: center; */
}
/** TITLES */

h2 {
    text-align: center;

}

 h2, h3 {
    text-transform: capitalize;
 }
/** HERO SECTION */

.hero {
    /* max-width: 800px; */
    min-height: 500px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    color: var(--primary-txt);
    display: flex;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    min-height: 250px;
    width: 350px;
    margin-left: 80px;
}
/** SEARCH SECTION */

.search {
    min-height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: var(--primary-bg);
}

/**S EARCH BAR */

.searchBar {
    display: flex;
    margin: 0 auto;
}
.searchBar input {
    padding: 19px;
    min-width: 250px;
    max-width: 450px;
    border-radius: 5px;
    border: none;
    margin-right: -8px;
}

.searchBtn, .btn  {
    padding: 15px;
    width: 8rem;
    text-align: center;
    background-color: var(--danger-bg);
    color: var(--primary-txt);
    text-transform: capitalize;
    border-radius: 5px ;
}
.fa-solid {
    color: var(--primary-txt);
    font-size: 1.22rem;
}
.mobile-btn {
    display: none;
}


/** CARDS */

.cards {
    min-height: 70vh;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap : 20px;
    padding-top: 20px;
    border-top: 3px solid var(--danger-bg);
    max-width: 250px;
}

/** MOBILE LAYOUT */

@media screen and (max-width: 400px) {
    .hero-txt {
        margin-left: 40px;
    }
    
    .mobile-btn {
        display: inline;
        width: 5%;
        padding: 5px;

    }
    .desktop-btn {
        display: none;
    }
    .searchBar input  {
        min-width: 50px;
        width: 80%;
    }
    .cards {
        flex-direction: column;

    }
    .card {
        gap: 2px;
        
    }
}