@font-face {
    font-family: 'JosefinSans';
    src: url(../fonts/JosefinSans-Light.ttf) format('ttf');
    src: url(../fonts/JosefinSans-SemiBold.ttf) format('ttf');
}
/* GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-txt: #fff;
    --secondary-txt: #000000c2;
    --primary-bg: #e9e3e3f6;
    --secondary-bg: #000000f8;
    --danger-bg: rgba(245, 57, 57); 
    
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/** HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    font-size: 18px;
    color: var(--primary-txt);
    padding: 20px;
    min-height: 80px;
}
.logo {
    margin-right: 10px;
}

.logo a {
    color: var(--primary-txt);
}

nav {
      /* width: 90%; */
      min-width: 300px;
      max-width: 700px;
      margin: 0 auto;
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    nav a   {
    /* min-width: 70px; */
    display: inline-block;
    height: 60px;
    width: 120px;
    
    color: var(--primary-txt);
    text-transform: capitalize;

    margin: 10px;
    padding: 10px ;

    transition: border .3s;
    border-radius: 10px;
    text-align: center;
    vertical-align:middle;
}


nav a:hover, nav a:focus {
    border: 0.5px solid var(--primary-txt);
    /* padding: 8px; */
}
 


/** FOOTER */

footer {
    min-height: 15vh;
    padding-top: 20px;
    background-color: var(--secondary-bg);
}

footer h4, footer p {
    margin-top: 15px;
    text-align: center;
    color: var(--primary-txt);
}
footer h4, footer p span  {
    text-transform: capitalize;
    
}

/** MOBILE LAYOUT */

@media screen and (max-width: 400px) { 
     nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 50%;
    }
    nav a {
        margin-right: 30px;
    }
    nav a span {
        white-space: pre;
    }

}