
/* GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    --primary-txt: #fff;
    --secondary-txt: #000000c2;
    --primary-bg: #ffffffb7;
    --secondary-bg: #000000e7;
    --third-bg: rgba(250, 82, 82, 0.575); 
}


/* body {
    background-color: darkgreen;
} */



header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    color: var(--primary-txt);
    font-size: 1.5rem;
    padding: 20px;
}
.logo a {
    text-decoration: none;
    color: var(--primary-txt);
}

nav {
    /* background-color: darkgreen; */
    min-width: 50px;

}
 
nav a   {
    color: var(--primary-txt);
    text-decoration: none;
    text-transform: capitalize;
    margin: 10px;
    padding: 5px ;
    transition: border .3s;

}

nav a:hover {
    border: 2px solid var(--primary-txt);
    border-radius: 10px;
  
}