@font-face {
    font-family: 'JosefinSans';
    src: url(../fonts/JosefinSans-Light.ttf) format('ttf');
    src: url(../fonts/JosefinSans-SemiBold.ttf) format('ttf');
}
/* GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-txt: #fff;
    --secondary-txt: #000000c2;
    --primary-bg: #e9e3e3f6;
    --secondary-bg: #000000f8;
    --danger-bg: rgba(245, 57, 57); 
    
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/**HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    font-size: 18px;
    color: var(--primary-txt);
    padding: 20px;
    min-height: 130px;
}
.logo a {
    color: var(--primary-txt);
}

nav {
      /* min-width: 50px; */
      /* width: 90%; */
      margin: 0 auto;
      margin: 0 5px;
      /* background-color: darkgreen; */
      display: flex;
    }
    
    nav a   {
    /* min-width: 100px;
    max-width: 100px; */
    /* width: 80%; */
    min-height: 70px;
    justify-content: space-around;
    color: var(--primary-txt);
    text-transform: capitalize;
    margin: 10px;
    padding: 10px ;
    transition: border .3s;
    /* background-color: darkblue; */
    /* font-size: 92%; */
    
}

nav a:hover, nav a:focus {
    border: 2px solid var(--primary-txt);
    border-radius: 10px;
    /* padding: 2%; */
    /* margin: 12px; */
  
}
 


/**FOOTER */

footer {
    min-height: 15vh;
    padding-top: 20px;
    background-color: var(--secondary-bg);
}

footer h4, footer p {
    margin-top: 15px;
    text-align: center;
    color: var(--primary-txt);
}
footer h4, footer p span  {
    text-transform: capitalize;
    
}


@media screen and (max-width: 400px) { 
     nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin-right: 30px;
        padding: 2px;
        justify-items: center;
    }
    nav a span {
        white-space: pre;
    }

}